<% group.restrictions.each do |restriction| %>
    <div class='list-group-item requirement_element'>
      <div class='row'>

        <div class='col-md-6'>
          <%= t("group.#{restriction.type.to_s}", :value => restriction.value) %>
        </div>
        <div class='col-md-1'>
          <%= restriction.type %>
        </div>
        <div class='col-md-1'>
          <%= restriction.value %>
        </div>
        <div class='col-md-2'>
        </div>
        <div class='col-md-2'>
          <div class='btn-group pull-right'>
            <%= group_button_to program_group_restriction_delete_path, :class => 'btn btn-danger', :useajax => true, :name => 'restriction',
                                :value => restriction.id, :delete_parent => '.requirement_element' do %>
                <span class='glyphicon glyphicon-remove-sign'></span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% end %>