<div class="content_box pagewidth_twothirds">
  <div><h1>Bug Reports</h1></div>
  <hr style="width:100%;">
  <div><h4>
    <%= link_to "We hate bugs, but we love bug reports, and we would really appreciate it if you put them in this form.", "https://docs.google.com/forms/d/1ucHlBnVBv0QFjxiUAaSS_imCoq-VYq4-fXBPIasZFqU/viewform" %>
  </h4></div>
</div>