<div class="content_box pagewidth_twothirds">
  <div><h1>Cookies</h1></div>
  <hr style="width:100%;">
  <div><h4>
    At Uniiv, we love cookies.
    They taste good, but more importantly they allow us to give you a better experience using our site.
  </h4></div>
  <div><h4>
    We use them because they enable you to automatically store some information about our site, and give it back to us during some events.
    It allows us to let you log in automatically and stuff like that.
  </h4></div>
</div>