<h1>Cookies</h1>
<hr>
<p>
  At Uniiv, we love cookies.
  They taste good, but more importantly they allow us to give you a better experience using our site.
  If you are using Uniiv, you agree to the use of cookies.
</p>