<div class="content_box pagewidth_twothirds">
  <div><h1>Get Involved</h1></div>
  <hr style="width:100%;">

  <div><h4>
    At the moment we are still in alpha testing, so what we need is for you to give us all the feedback you can.
  </h4></div>

  <div><h4><%= link_to "For suggestions please use this form.", "https://docs.google.com/forms/d/1AGKdrSWmPimd1NE9GwgWGy44KoxcvyMXl6lNFs3rZKI/viewform" %></h4></div>

  <div><h4><%= link_to "For bug reports please use this form.", "https://docs.google.com/forms/d/1ucHlBnVBv0QFjxiUAaSS_imCoq-VYq4-fXBPIasZFqU/viewform" %></h4></div>
</div>