<div class="content_box pagewidth_twothirds">
  <div><h1>Privacy</h1></div>
  <hr style="width:100%;">
  <div><h4>
    At Uniiv, we value your privacy, and we promise not to give your data away to anyone.
    We want you to feel safe using our site.
  </h4></div>
</div>