<div class="content_box pagewidth_twothirds">
  <div><h1>Story</h1></div>
  <hr style="width:100%;">
  <div><h4>
    Uniiv began like most ideas do, out of a people recognizing issues within the society they lived in. These people were Thibaud and Tim, both frustrated with the university systems they had to deal with daily. The information that was offered to students, both current and prospective, was inadequate and in many cases led students astray rather than put them on the right path.
  </h4></div>
  <br>
  <div><h4>
    Valentine and Toby, motivated by the idea of changing the status quo for universities and to help students joined the project. With the increased team size work continued at an accelerated pace and in April 2013 the team were invited to participate in the MIT Global Founders’ Accelerator. They spent the summer there developing the core ideas behind Uniiv and themselves as successful founders, both as a team and as individuals.
  </h4></div>
</div>