<div class="content_box pagewidth_twothirds">
  <div><h1>Suggestions</h1></div>
  <hr style="width:100%;">
  <div><h4>
    <%= link_to "We love suggestions, and we would really appreciate it if you put them in this form.", "https://docs.google.com/forms/d/1AGKdrSWmPimd1NE9GwgWGy44KoxcvyMXl6lNFs3rZKI/viewform" %>
  </h4></div>
</div>