<style>
.team_pic_container_big
{
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  width: 49%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.team_pic
{
  width: 200px;
  height: 190px;
  border-radius: 100%;
  border: 1px solid #d5d5d5;
}
</style>
<div class="content_box pagewidth_twothirds">
  <div><h1>Team</h1></div>
  <hr style="width:100%;">
  <div class="team_pic_container_big">
    <div><img src="/assets/thib.jpg" class="team_pic" alt="thibaud" /></div>
    <div><h4>Thibaud Mar&#233;chal</h4></div>
    <div><h5>Brand</h5></div>
  </div>
    <div class="team_pic_container_big">
    <div><img src="/assets/val.jpg" class="team_pic" alt="valentine" /></div>
    <div><h4>Valentine Dessertenne</h4></div>
    <div><h5>Marketing</h5></div>
  </div>
    <div class="team_pic_container_big">
    <div><img src="/assets/tim.jpg" class="team_pic" alt="timothee" /></div>
    <div><h4>Timoth&#233;e Guerin</h4></div>
    <div><h5>Back-End</h5></div>
  </div>
    <div class="team_pic_container_big">
    <div><img src="/assets/toby.jpg" class="team_pic" alt="toby" /></div>
    <div><h4>Toby L Welch-Richards</h4></div>
    <div><h5>Front-End</h5></div>
  </div>
</div>