<style>
  .team_pic {
    width: 200px;
    height: 190px;
    border-radius: 100%;
    border: 1px solid #d5d5d5;
  }
</style>
<h1>Team</h1>
<hr>
<div class="col-md-6 text-center">
  <div><img src="/assets/thib.jpg" class="team_pic" alt="thibaud"/></div>
  <p>Thibaud Mar&#233;chal<br>Brand</p>
</div>
<div class="col-md-6 text-center">
  <div><img src="/assets/val.jpg" class="team_pic" alt="valentine"/></div>
  <p>Valentine Dessertenne<br>Marketing</p>
</div>
<div class="col-md-6 text-center">
  <div><img src="/assets/tim.jpg" class="team_pic" alt="timothee"/></div>
  <p>Timoth&#233;e Guerin<br>Back-End</p>
</div>
<div class="col-md-6 text-center">
  <div><img src="/assets/toby.jpg" class="team_pic" alt="toby"/></div>
  <p>Toby L Welch-Richards<br>Front-End</p>
</div>