<div class="content_box pagewidth_twothirds">
  <div><h1>Uniiv</h1></div>
  <hr style="width:100%;">
  <div><h4>
    At Uniiv we build software for students.
    Our first product is a dynamic degree planner and course manager to help students visualize and navigate their university education.
  </h4></div>
</div>