<div class='user_take_course_graph_embed_form'>
  <%= render :partial => 'take_form', :locals => {:path => user_take_course_create_graph_embed_path(@course), :clazz => 'useajax', :normal => false} %>
</div>