<li class='dependency <%= 'notsortable' if current_scenario.plan_to_take_course?(course) or current_scenario.has_completed_course?(course) %>' style='display: inline-block'>
  <div data-course-id="<%= course.id %>" data-need-reload=true>
    <span><%= course.to_s %></span>
  </div>
</li>