<div><h3><%= @program.name %></h3></div>
<div class="center" id="program_graph">
</div>
<div>
  <% @program.groups.each do |g| %>
      <div><h5><%= g.short_name + " (" + (g.get_completion_ratio(current_scenario)[:ratio]*100).to_i.to_s + "%)" %></h5>
      </div>
  <% end %>
</div>

<script type="text/javascript">graphDonut(<%= (@program.get_completion_ratio(current_scenario)[:ratio]*100).to_i.to_s %>,0,"program_graph");</script>