<div class='list-group'>
  <% group.subject_courses.each do |subject_course| %>
      <div class='list-group-item subject_courses_element'>
        <div class='row'>
          <div class='col-md-10'>
            <%= subject_course.to_s %>
          </div>
          <div class='col-md-2'>
            <div class='btn-group pull-right'>
              <a class='btn btn-danger' href="<%= group_subject_course_list_edit_path(subject_course) %>">
                <span class='glyphicon glyphicon-pencil'></span>
              </a>
              <%= group_button_to group_subject_course_list_delete_path, :class => 'btn btn-danger', :useajax => true, :name => 'id',
                                  :value => subject_course.id, :delete_parent => '.subject_courses_element' do %>
                  <span class='glyphicon glyphicon-remove-sign'></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <div class='list-group-item'>
    <a class='btn btn-primary form-control' href="<%= group_subject_course_list_new_path(:group => group) %>">
      Add new
    </a>
  </div>
</div>