<%= form_for course_complete, :url => user_mark_complete_course_path(course), :html => html do |f| %>
    <div class="input-group">
      <%= f.hidden_field :year, :value => course_complete.year %>
      <%= f.hidden_field :semester, :value => course_complete.semester.id %>

      <%= f.select :grade_id, options_from_collection_for_select(grades, 'id', 'name'), {}, {:class => 'form-control'} %>
      <div class="input-group-btn">
        <button class="btn btn-default btn-md">
          <span class='glyphicon glyphicon-ok'></span>
        </button>
      </div>
    </div>
<% end %>