<%= form_tag(user_faculty_update_path) do %>
    <div class='form-group'>
      <div class='input-group'>
        <%= text_field_tag('faculty_id', nil, options =
                {:class => 'form-control autocomplete disablesubmit', 'data-url' => faculty_search_autocomplete_path + '?only_not_taking=true', 'data-input-data' => true}) %>
        <span class="input-group-btn">
                <%= submit_tag('Choose', :class => 'btn btn-primary', :disabled=> true) %>
            </span>
      </div>
    </div>
<% end %>