<%= form_tag(user_faculty_update_path) do %>
    <div class='form-group'>
      <div class='input-group'>
        <select name="faculty_id" class="selectize disablesubmit" data-url="<%= faculty_search_autocomplete_path %>">
          <option value=""> <%= t('select.faculty') %></option>
        </select>

        <span class="input-group-btn">
          <% needconfirmation = current_user.faculty.nil? ? '' : 'needconfirmation' %>
          <%= submit_tag 'Choose', :class => "btn btn-primary #{needconfirmation}", :disabled => true, 'data-confirm-dialog' => t('user.faculty.edit.confirmation') %>
        </span>
      </div>
    </div>
<% end %>