<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h2>Choose your faculty</h2>
    <%= form_tag(user_faculty_update_path) do %>
        <div class='form-group'>
          <label>Search for a faculty, either by name or by university name.</label>

          <div class='input-group'>
            <%= text_field_tag('faculty_id', nil, options =
                    {:class => 'form-control autocomplete', 'data-url' => faculty_search_autocomplete_path + '?only_not_taking=true', 'data-input-data' => true}) %>
            <span class="input-group-btn">
                <%= submit_tag('Choose', :class => 'btn btn-primary') %>
            </span>
          </div>
        </div>
    <% end %>
  </div>
</div>

