<%= form_tag(user_university_update_path) do %>
    <div class='form-group'>
      <div class="input-group">

        <select name="university_id" class="selectize disablesubmit" data-url="<%= university_search_autocomplete_path %>">
          <option value=""> <%= t('select.university') %></option>
        </select>

        <span class="input-group-btn">
          <% needconfirmation =  current_user.faculty.nil? ? '' : 'needconfirmation' %>
            <%= submit_tag('Choose', :class => "btn btn-primary #{needconfirmation}", :disabled => true, 'data-confirm-dialog' => t('user.university.edit.confirmation')) %>
        </span>
      </div>
    </div>
<% end %>