<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <% unless @current_university.nil? %>
        <div class='well well-sm'>
          <strong><%= @current_university %></strong>
        </div>
    <% end %>

    <h1>Choose your university</h1>
    <%= form_tag(user_university_update_path) do %>
        <div class='form-group'>
          <label>Search for university by name.</label>

          <div class="input-group">
            <%= text_field_tag('uni', nil, options = {:class => 'form-control autocomplete', 'data-url' => university_search_autocomplete_path, 'data-input-data' => 'true'}) %>

            <span class="input-group-btn">
                <%= submit_tag('Choose', :class => 'btn btn-primary') %>
            </span>
          </div>
        </div>
    <% end %>
  </div>
</div>