<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <% unless @current_university.nil? %>
        <div class='well well-sm'>
          <strong><%= @current_university %></strong>
        </div>
    <% end %>

    <h1>Choose your university</h1>
    <%= render :partial => 'form', :locals => {:university => current_user.university} %>
  </div>
</div>