<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h2>Choose your university</h2>
    <%= form_tag(user_university_update_path) do %>
      <div class='form-group'>
        <label>Search for university by name.</label>
        <%= text_field_tag('doesntmatter', nil, options = {:class => 'form-control autocomplete', 'data-url' => university_search_autocomplete_path, 'data-input-data' => '#uni'}) %>
      </div>
      <%= hidden_field_tag('uni', nil, 'id' => 'uni ') %>
      <div class='pull-right'>
        <%= submit_tag('Choose', :class => 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>