<div id="home_content" class="content_box" style="padding:20px;">
  <div style="width:360px;margin-top:70px;margin-bottom:80px;box-sizing:border-box;display:inline-block;">
    <div><h1>Uniiv</h1></div>
    <div>
      <h4>At Uniiv we produce software for students.We rely on alpha-testers like you to help us understand how users
        will use our product.
        Please watch the video above to understand how the course management system works, and please give us all the
        feedback you can.
      </h4><br><br>

      <div style="width:100%;text-align:center;">
        <h5><%= link_to "Please give us feedback here.", static_page_getinvolved_path %></div>
      </h5></div>
  </div>
  <div style="float:right;width:480px;height:360px;display:inline-block;box-sizing:border-box;background-color:#274d9b;"></div>
</div>