<div id="home_content" class="content_box" style="padding:20px;">
  <div style="width:360px;margin-top:40px;margin-bottom:40px;box-sizing:border-box;display:inline-block;">
    <div><h1>Uniiv</h1></div>
    <div>
      <h4>At Uniiv we produce software for students.We rely on alpha-testers like you to help us understand how users
        will use our product.
        Please watch the video to understand how the course management system works.
      </h4><br><br>

      <div style="width:100%;text-align:center;">
        <%= link_to static_page_getinvolved_path do %>
            <h5 class="underline_link">Please give us feedback here.</h5>
        <% end %>
      </div>
    </div>

  </div>
  <div style='float:right;display:inline-block;box-sizing:border-box;'>
    <a href='/assets/graph-example.png'><img src='/assets/graph-example.png' width='480px' height='360px'/></a>
  </div>
</div>