<div id="home_content" class="content_box" style="padding:20px;">
  <div>
    <div class="jumbotron text-center" style="background-color:transparent;">
      <h1>Uniiv</h1>

      <%= t('test_translation') %>
    </div>
  </div>
</div>