<div id="home_content" class="content_box" style="padding:20px;">
  <div style="width:360px;margin-top:54px;margin-bottom:54px;box-sizing:border-box;display:inline-block;">
    <div><h1>Uniiv</h1></div>
    <div>
      <h4>At Uniiv we build software for students.
      Our first product is an interactive and intelligent course management tool, to help you explore and understand your university education.
      </h4><br><br>

      <div style="width:100%;text-align:center;">
        <%= link_to static_page_getinvolved_path do %>
            <h5 class="underline_link">Please give us feedback here.</h5>
        <% end %>
      </div>
    </div>
    
  </div>
  <div style='float:right;display:inline-block;box-sizing:border-box;'>
    <a href='assets/graph-example.png'><img src='/assets/graph-example.png' width='480px' height='360px'/></a>
  </div>
</div>