<div id="home_content" class="content_box" style="padding:20px;">
  <div>
    <div class="jumbotron text-center" style="background-color:transparent;">
      <h1>Uniiv</h1>

      <h2>Helping you to decide what courses to choose</h2>
      <br>

      <div class='container homepage-presentation'>
        <div class='row'>
          <div class='col-md-6'>
            <div>
              <span class='glyphicon glyphicon-cloud-upload glyphicon-xl lightest_bluetext'></span>
            </div>
            <div>
              <h3>Upload your transcript</h3>
            </div>
          </div>
          <div class='col-md-6'>
            <div>
              <span class='glyphicon glyphicon-random glyphicon-xl light_redtext'></span>
            </div>
            <div>
              <h3>View your possibilities</h3>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div>
              <span class='glyphicon glyphicon-road glyphicon-xl light_yellowtext'></span>
            </div>
            <div>
              <h3>Plan your curriculum</h3>
            </div>
          </div>
          <div class='col-md-6'>
            <div>
              <span class='glyphicon glyphicon-ok-circle glyphicon-xl lightest_greentext'></span>
            </div>
            <div>
              <h3>Succeed</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>