<div class='image-container'>
  <div class="hover-tile-outer">
    <a href='<%= link %>' class="hover-tile-container">
      <div class="hover-tile-visible">

        <%= image_tag(image) %>

      </div>
      <div class="hover-tile hover-tile-hidden">
        <%= content %>
      </div>
    </a>
  </div>
</div>