<button id="graphreload" style="position:absolute;top:50px;right:0%;margin-right:300px;display:none;z-index:10">Reload</button>
<div class='row'>
  <div class='col-md-10 graph'>
    <div id="canvas-container" data-url='<%= program_graph_data_path(@program) %>'></div>
  </div>
  <div class='col-md-2 graphsidebar'>
    <div id="graph_sidebar_info" class='nano'>
      <div class='content'></div>
    </div>
    <%= render :partial => 'graph/graph_navigation' %>
  </div>
</div>