<style>#nav_bottom {
    display: none;
}

#content {
    padding-bottom: 0px;
    margin-bottom: 0px;
}</style>
<button id="graphreload" style="position:absolute;top:50px;right:0%;margin-right:300px;display:none;z-index:10">Reload</button>
<div id="fold">
  <div style="display:inline-block;" id="graph_loader">
    <ul class="graph-loading">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div id="graph_right_box">
    <div id="graph_sidebar_info"></div>

    <div id="graph_right_help">
      <div style="display:none;" id="sidebar_loader">
        <ul class="graph-loading-small" style="margin-left:119px;">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <hr>
      <div>
        <h5>Scroll to zoom.
          <button style="visibility:hidden;">l</button>
        </h5>
      </div>
      <div><h5>Click a course to find out more.</h5></div>

      <div>
        <div class="legend-icon taking"></div>
        <h5>Taking</h5>

        <div style="width:125px;text-align:left;display:inline-block;float:right;">
          <div class="legend-icon available"></div>
          <h5>Available</h5></div>
      </div>
      <div>
        <div class="legend-icon completed"></div>
        <h5>Completed</h5>

        <div style="width:125px;text-align:left;display:inline-block;float:right;">
          <div class="legend-icon unavailable"></div>
          <h5>Unavailable</h5></div>
      </div>

    </div>
  </div>
  <div id="canvas-container" data-url='<%= program_graph_data_path(@program.id) %>'></div>
</div>