<div id="fold">
  <div id="graph_right_box">
    <div class="center"><h2>McGill University</h2></div>
    <div class="right"><h2>50%</h2></div>
    <div class="right"><h3>45/90 Credits</h3></div>
    
    <hr>
    
    <div id="graph_right_help">
      <div><h5>Scroll to zoom.</h5></div>
      <div><h5>Click a course to find out more.</h5></div>
    </div>
  </div>
  <div id="canvas-container"></div>
</div>