<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>
<script type="text/javascript"><!--
var graphs = [
    'abstract.gv.txt',
    'alf.gv.txt'
];
var layouts = [
    'dot'
];
var ajCount = 0;


var canviz;
$(document).ready(function () {

    $('#busy').ajaxSend(function () {
        $(this).show();
        ++ajCount;
    });
    $('#busy').ajaxSuccess(function () {
                --ajCount;
                if (0 == ajCount) {
                    $(this).hide();
                }
            }
    );

    $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
        alert(thrownError);
    });

    var list = $('#graph_name').get(0);
    $(graphs.sort(function (a, b) {
        a = a.replace(/.*\//, '').toLowerCase();
        b = b.replace(/.*\//, '').toLowerCase();
        return (a > b) ? 1 : (a < b) ? -1 : 0;
    })).each(function (index, graph) {
                list.options[list.options.length] = new Option(graph.replace(/^.*\/(.*)$/, '$1').replace(/^(.*)\.txt$/, '$1'), graph, false, 0 == index);
            });

    list = $('#graph_engine').get(0);
    $(layouts).each(function (index, layout) {
        list.options[list.options.length] = new Option(layout, layout, false, 'dot' == layout);
    });

    list = $('#graph_scale').get(0);
    $([4, 2, 1.5, 1, 0.75, 0.5]).each(function (index, scale) {
        list.options[list.options.length] = new Option(100 * scale + '%', scale, false, 1 == scale);
    });

    canviz = new Canviz('graph_container');
    canviz.setImagePath('graphs/images/');
    canviz.setScale($('#graph_scale').val());
    load_graph();
});
function load_graph() {
    canviz.load(graph_url());
}
function set_graph_scale() {
    canviz.setScale($F('graph_scale'));
    canviz.draw();
}
function change_graph(inc) {
    $('#graph_name').attr('selectedIndex', (($('#graph_name').attr('selectedIndex') + inc) + $('#graph_name').get(0).options.length) % $('#graph_name').get(0).options.length);
    load_graph();
}
function change_engine(inc) {
    $('#graph_engine').attr('selectedIndex', (($('#graph_engine').get(0).selectedIndex + inc) + $('#graph_engine').get(0).options.length) % $('#graph_engine').get(0).options.length);
    load_graph();
}
function change_scale(inc) {
    var graph_scale = $('#graph_scale');
    var new_scale = graph_scale.attr('selectedIndex') + inc;
    if (new_scale < 0 || new_scale >= graph_scale.get(0).options.length) {
        return;
    }
    graph_scale.attr('selectedIndex', new_scale);
    set_graph_scale();
}
function view_source() {
    window.open(graph_url());
}
function graph_url() {
    return 'assets/' + $('#graph_name').val();
}
// --></script>


<div id="busy" style="display:none">Loading...</div>

<form action="javascript:void(0)" id="graph_form">

  <fieldset>
    <legend>Graph file</legend>
    <input type="button" class="little_button" value="&lt;" onclick="change_graph(-1)"/>
    <select name="graph_name" id="graph_name" onchange="load_graph()"></select>
    <input type="button" class="little_button" value="&gt;" onclick="change_graph(1)"/>
  </fieldset>

  <fieldset>
    <legend>Layout engine</legend>
    <input type="button" class="little_button" value="&lt;" onclick="change_engine(-1)"/>
    <select name="graph_engine" id="graph_engine" onchange="load_graph()"></select>
    <input type="button" class="little_button" value="&gt;" onclick="change_engine(1)"/>
  </fieldset>

  <fieldset>
    <legend>Magnification</legend>
    <input type="button" class="little_button" value="-" onclick="change_scale(1)"/>
    <select name="graph_scale" id="graph_scale" onchange="set_graph_scale()"></select>
    <input type="button" class="little_button" value="+" onclick="change_scale(-1)"/>
  </fieldset>

  <fieldset>
    <input type="button" class="big_button" value="View Dot Source" onclick="view_source()"/>
  </fieldset>

</form>

<div id="page_container">

  <div id="graph_container"></div>

  <div id="debug_output"></div>

</div>


