<div class="content_box pagewidth_twothirds">
  <h2>Add a program</h2>
  <%= form_tag(user_programs_create_path) do %>
    <%= select_tag 'prog', options_for_select(@options.map{  |x| [x.type.name.capitalize + " in " + x.name + " (" + x.faculty.short_name + ")", x.id]}  )  , { :class => "form_input_long middle form_biginput" } %>
    <div class="right">
      <%= submit_tag("Add") %>
    </div>
<% end %>
</div>

