<div class="content_box pagewidth_twothirds">
  <div><h1>Settings</h1></div>

  <hr style="width:100%;">

  <div class="center">
    <%= link_to user_emails_index_path do %>
        <button>Manage Emails</button>
    <% end %>
    <%= link_to edit_user_registration_path do %>
        <button>Manage Password</button>
    <% end %>
  </div>
</div>