<h1>Admin utils: </h1>
<div class="list-group">
  <%= link_to  'Course loader' ,admin_utils_course_load_new_path, :class => 'list-group-item' %>
  <%= link_to 'Course requirements checker', admin_utils_check_course_requirements_completed_path,  :class => 'list-group-item' %>
  <%= link_to 'Program editor', admin_utils_program_editor_path,  :class => 'list-group-item' %>
</div>