<div class="form-group row">
  <%= f.label :start_year, :class => 'col-md-2' %>
  <div class="col-md-2">
    <%= f.text_field :start_year, :class => 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :end_year, :class => 'col-md-2' %>
  <div class="col-md-2">
    <%= f.text_field :end_year, :class => 'form-control' %>
  </div>
</div>