<div class="row program-title">
  <div class="col-md-6">
    <h1><%= @program_version.program %></h1>
  </div>

  <div class="col-md-1 col-md-offset-5">
    <%= form_tag program_version_change_path, :method => :get do %>
        <%= select_tag :version_id, options_from_collection_for_select(@program_version.program.versions, :id, :to_academic_year, @program_version.id), :class => 'selectpicker submit-onselect' %>
    <% end %>
  </div>
</div>
<%= render :partial => 'program_group/program_group_list', :locals => {:groups => @program_version.groups, :parent => @program_version} %>
