<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Review for <%= @course.subject.name.to_s + ' ' + @course.code.to_s %></h1>
    <hr>
    <div class='new_review_form'>
      <%= render :partial => 'review_form', :locals => {:path => course_review_create_path(@course)} %>
    </div>
  </div>
</div>