<div class='row darkest_grey_bg light_greytext' style="height: 100%">
  <div class='col-md-4 col-md-offset-4'>
    <h2 class='text-center'>Contact us</h2>
    <%= render :partial => 'form', :locals => {:form => @form} %>
  </div>
</div>