<% default_item||=nil %>
<div class='row'>
<% courses.each do |c| %>
    <div class='col-md-4 course_taking_container'>
      <div class='dashboard_coursebox'>
        <div class='row'>
          <div class='col-xs-5'>
            <a href='<%= course_path(c.course) %>'><%= c.course.subject.name %> <%= c.course.code %>
            </a>
          </div>
          <div class='col-xs-7 text-right'>
            <%= render :partial => 'user/course/course_taking_buttons', :locals => {:course => c, :useajax => true, :default_item => default_item} %>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>