<div class='row education_selection_row'>
  <% if element.nil? %>
      <div class='col-md-1'>
      </div>
      <div class='col-md-10'>
        <%= render :partial => partial, :locals => {element_name => element} %>
      </div>
  <% else %>
      <div class='toggledisplay'>
        <div class='item active'>
          <div class='col-md-1'>
            <button class='btn btn-primary toggledisplay-btn pull-right'>
              <span class='glyphicon glyphicon-pencil' rel='tooltip' data-toggle='tooltip' title='Edit'></span>
            </button>
          </div>
          <div class='col-md-6'>
          <span class='text-md'>
            <%= element %>
          </span>
          </div>
        </div>
        <div class='item' style="display: none">
          <div class='col-md-1'>
            <button class='btn btn-danger toggledisplay-btn pull-right'>
              <span class='glyphicon glyphicon-remove ' rel='tooltip' data-toggle='tooltip' title='Cancel'></span>
            </button>
          </div>
          <div class='col-md-10'>
            <%= render :partial => partial, :locals => {element_name => element, } %>
          </div>
        </div>
      </div>
  <% end %>
</div>

