<div class='user_take_course_graph_embed_form'>
  <%= render :partial => 'user_take_course_form', :locals => {:path => user_take_course_create_graph_embed_path(@course), :clazz => 'useajax'} %>
</div>