/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require welcome
 */

/*
 * variables
*/

$page_width: 800px;

$nav_height: 30px;
$nav_gradient_top: #f9f9f9;
$nav_gradient_bottom: #f1f1f1;
$nav_border_color: #e5e5e5;

/*
 * ids
*/

#nav_top
{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: $nav_height;
  box-sizing: border-box;
  background-color: $nav_gradient_bottom;
  background-image: -moz-linear-gradient($nav_gradient_top, $nav_gradient_bottom);
  background-image: -webkit-linear-gradient($nav_gradient_top, $nav_gradient_bottom);
  background-image: linear-gradient($nav_gradient_top, $nav_gradient_bottom);
  background-repeat: repeat-x;
  border-bottom: 1px solid $nav_border_color;
  line-height: $nav_height;
}
#nav_top_container
{
  width: $page_width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  box-sizing: border-box;
}
#nav_top_left
{
  float: left;
  height: $nav_height;
}
#nav_top_right
{
  float: right;
  height: $nav_height;
}
#nav_top_block
{
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  height: $nav_height + 5px;
}
#nav_bottom
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $nav_gradient_bottom;
  background-image: -moz-linear-gradient($nav_gradient_bottom, $nav_gradient_top);
  background-image: -webkit-linear-gradient($nav_gradient_bottom, $nav_gradient_top);
  background-image: linear-gradient($nav_gradient_bottom, $nav_gradient_top);
  border-top: 1px solid $nav_border_color;
  box-sizing: border-box;
}
#nav_bottom_container
{
  width: $page_width;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
}
#main_content
{
  width: $page_width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/*
 * classes
*/


/*
 * tags
*/
*
{
  font-family: "Helvetica-Neue", Helvetica, Verdana, Sans-serif;
  font-weight: lighter;
}
body
{
  padding: 0px;
  margin: 0px;
}
