/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require welcome
 */

#nav_top
{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
  box-sizing: border-box;
  background-color: #dbdbdb;
  line-height: 30px;
}
#nav_top_container
{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  box-sizing: border-box;
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
}
#nav_top_left
{
  float: left;
  height: 30px;
}
#nav_top_right
{
  float: right;
  height: 30px;
}
#nav_top_block
{
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
}
#nav_bottom
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #dbdbdb;
  box-sizing: border-box;
}
#nav_bottom_container
{
  width: 800px;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
  background-color: #e5e5e5;
}
#main_content
{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
*
{
  font-family: "Helvetica-Neue", Helvetica, Verdana, Sans-serif;
  font-weight: lighter;
}
body
{
  padding: 0px;
  margin: 0px;
}
