<h1>Transcript loader</h1>
<p>Automatically load the course from your transcript</p>
<hr>
<div class='text-center'>
  <a href="<%= upload_transcript_path %>" class='btn btn-primary btn-lg'>
    Get started  <span class='glyphicon glyphicon-chevron-right'></span>
  </a>
</div>