<div class="marketing-section row">
  <div class='col-md-6'>
    <button class="btn btn-default btn-block" style="height: 155px;">
      Explore all programs
    </button>
  </div>
  <div class='col-md-3'>
    <button class="btn btn-default btn-block" style="height: 155px;">
      Explore all courses
    </button>
  </div>

  <div class='col-md-3'>
    <button class="btn btn-default btn-block" style="height: 75px;">
     Explore programs by faculty
    </button>
    <button class="btn btn-default btn-block" style="height: 75px;">
      Explore courses by subject
    </button>
  </div>

</div>