<div class='row explore-section'>
  <div class="container">
    <div class="explore-menu">
      <a href='<%= explore_programs_path %>' class="explore-choice">
        <h2>Explore programs</h2>

        <div>
            Discover new programs
        </div>
      </a>
      <a href='<%= explore_courses_path %>' class="explore-choice">
        <h2>Explore courses</h2>

        <div>
            Browse courses
        </div>
      </a>
    </div>

  </div>

</div>
<div class='row explore-section'>
  <%= render :partial => 'faculty_container', :locals => {:faculty => @showcase[:faculty], :program_types => @showcase[:faculty].programs_by_type} %>
</div>