<div class='container'>

  <div>
    <%= form_tag do %>
        <div class=''>
          <%= text_field_tag :q %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class='col-md-3'>
      <button class="btn btn-default btn-block" style="height: 300px;">
        Search courses
      </button>
    </div>
    <div class='col-md-6'>
      <button class="btn btn-default btn-block" style="height: 300px;">
        Search courses
      </button>
    </div>
    <div class='col-md-3'>
      <button class="btn btn-default btn-block" style="height: 150px;">
        Search courses by subjects
      </button>
      <button class="btn btn-default btn-block" style="height: 150px;">
        Search courses by some other shit
      </button>
    </div>
  </div>
</div>