<div class='row explore-section'>
  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <a href='<%= explore_programs_path %>' class="btn btn-default btn-block" style="height: 155px;">
          Explore programs
        </a>
      </div>

      <div class='col-md-3'>
        <a class="btn btn-default btn-block" style="height: 75px;">
          Explore courses
        </a>
        <a class="btn btn-default btn-block" style="height: 75px;">
          Explore courses by subject
        </a>
      </div>
    </div>
  </div>

</div>
<div class='row explore-section'>
  <%= render :partial => 'faculty_container', :locals => {:faculty => @showcase[:faculty], :program_types => @showcase[:faculty].programs_by_type} %>
</div>