<div class='row explore-section'>
  <div class='container'>
    <h1>Explore programs</h1>
    <%= form_tag '', :method => :get do %>
        <div class="input-group">
          <%= text_field_tag :q, params[:q], :placeholder => 'Search...', :class => 'form-control' %>
          <span class="input-group-btn">
            <button class="btn btn-primary text-md">
              <span class='glyphicon glyphicon-search'></span>
            </button>
          </span>
        </div>
    <% end %>
  </div>
</div>
<% @faculties.each do |faculty, program_types| %>
    <div class='row explore-section'>
      <%= render :partial => 'faculty_container', :locals => {:faculty => faculty, :program_types => program_types} %>
    </div>
<% end %>