<footer>
  <div class="container">
    <div class="row" style="margin-top: 30">
      <div class="col-md-2 col-md-offset-5 text-center">
        <a href='#top'>
          <span class='glyphicon glyphicon-chevron-up glyphicon-lg'></span>
        </a>
      </div>
    </div>
  </div>
</footer>